/* BIG REMINDER TRANSITION IN HOME FOR STYLEKARDS */

/* home about login signup feed kast components */
.sk-auto-side-margin {
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
}

/* login, signup, kast components */
.sk-main-padding {
  padding: 20px 15px 10px 15px;
}

/* login component */
.sk-error-msg {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  background-color: #f4cccc;
  border-radius: 5px;
  width: 250px;
}

/* feed component */
.fade-enter{
  opacity: 0;
}
.fade-enter-active{
  transition: opacity 1s;
}
.fade-leave{
  /* opacity: 1; */
}
.fade-leave-active{
  transition: opacity 1s;
  opacity: 0;
}

/* sk-form used in login, signup, kast components */
.sk-form{
  padding: 0px 15px 10px 15px;
  margin-top: 0px;
}
.sk-form-item > label {
  font-size: 16px;
}
.sk-form-item > p {
  margin: 0px;
  padding: 0px;
  color: #ff0800;
}
.sk-form-item > input  {
  width:100%;
  height: 40px;
  padding: 10px 15px;
  box-sizing: border-box;
  /* border: 2px solid rgb(245,0,87, .15); */
  border: 2px solid rgb(176,176,176, .35);
  border-radius: 5px;
  background-color: rgb(237,237,237, .4);
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.sk-form-item > textarea {
  width: 100%;
  height: 100px;
  padding: 10px 15px;
  box-sizing: border-box;
  /* border: 2px solid rgb(245,0,87, .15); */
  border: 2px solid rgb(176,176,176, .35);
  border-radius: 5px;
  background-color: rgb(237,237,237, .4);
  resize: none;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

/* sk-intro used in home and about components */
.sk-intro-title {
  margin: 0px;
  padding: 0px;
  text-align: center;
  letter-spacing: -1px;
}

.sk-intro-subtitle {
  margin: 0px;
  padding: 0px;
  text-align: center;
  letter-spacing: 1px;
  color: #137E8D
}

.sk-intro-info {
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  text-align: justify;
}

.sk-intro-first-word {
  color: #137E8D;
  font-size: 20px;
}

/* sk-auth-heading used in login and signup */
.sk-auth-heading{
  text-align: center;
}

.sk-auth-heading > h4{
  padding-top: 0px;
  margin-top: 0px;
}

.sk-auth-heading > span {
  font-size: 15px;
}

/* feed, kast, components */
.sk-no-content-main {
  margin-top: 50px;
  text-align: center;
}

/* feed component */
.sk-pink-link-sixteen{
  color: #ff0800;
  cursor: pointer;
  font-size: 16px;
}

/* used in kast, search, tags components */
.sk-loader {
  margin-right: auto;
  margin-left: auto;
  margin-top: 75px;
  border: 7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #137E8D;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* used in kast component */
.sk-kast-link {
  font-size: 25px;
  font-weight: 500;
  color: #ff0800;
  cursor: pointer;
}

/* used in kast component */
.sk-gray-note {
  color: #ff0800;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  padding-top:10px;
  padding-bottom: 10px;
}

/* used in editkast component */
.sk-position-relative {
  position: relative;
}

.sk-fixed-header {
  position: fixed;
  top: 0px;
  background-color: #ededed;
  margin-top: 56px;
  height: 45px;
  width: 100%;
}

.sk-fixed-header-item-flex {
  margin-right: auto;
  margin-left: auto;
  margin-top: 12px;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
}
